        <div class="container">
          <toaster-container></toaster-container>
            <div class="row">
                <div class="account-col text-center">
				              <img src="assets/images/logo_big.png" alt="Dibcase" class="img-responsive logo-default"/>
                    <form class="m-t" [formGroup]="signup" (ngSubmit)="onSubmit(signup.value)">

                        <div *ngIf="responseStatus.success_msg && showhidemsg" class="alert alert-success">
      										<button type="button" class="close messageClass"   aria-label="Close"><span aria-hidden="true">&times;</span></button>
      										<strong>{{responseStatus.success_msg}}</strong>
      									</div>
      									<div *ngIf="responseStatus.error_msg && showhidemsg" class="alert alert-danger">
      										<button type="button" class="close messageClass" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      										<strong> {{responseStatus.error_msg}}</strong>
      									</div>

                        <div class="form-group" [ngClass]="{'has-error':!signup.controls['com_name'].valid  && submitAttempt || signup.controls['com_name'].hasError('required') && signup.controls['com_name'].touched}">
                          <input type="text" class="form-control" formControlName="com_name" placeholder="Company Name">
                          <span *ngIf="signup.controls['com_name'].hasError('required') && submitAttempt || signup.controls['com_name'].hasError('required') && signup.controls['com_name'].touched">Company Name is required.</span>
      										<span *ngIf="signup.controls['com_name'].hasError('minlength') && submitAttempt">Minimum 5 characters required.</span>
                        </div>

                        <div class="form-group" [ngClass]="{'has-error':!signup.controls['user_name'].valid  && submitAttempt || signup.controls['user_name'].hasError('required') && signup.controls['user_name'].touched}">
                            <input type="text" class="form-control" placeholder="Username" formControlName="user_name">
                            <span *ngIf="signup.controls['user_name'].hasError('required') && submitAttempt || signup.controls['user_name'].hasError('required') && signup.controls['user_name'].touched">Username is required.</span>
        										<span *ngIf="signup.controls['user_name'].hasError('minlength') && submitAttempt">Minimum 4 characters required.</span>
                        </div>

                        <div class="form-group" [ngClass]="{'has-error':!signup.controls['com_phone'].valid && submitAttempt || signup.controls['com_phone'].hasError('required') && signup.controls['com_phone'].touched}">
                            <input type="text" class="form-control" placeholder="Company Phone" formControlName="com_phone">
                            <span *ngIf="signup.controls['com_phone'].hasError('required') && submitAttempt || signup.controls['com_phone'].hasError('required') && signup.controls['com_phone'].touched">Company Phone is required.</span>
        										<span *ngIf="signup.controls['com_phone'].hasError('minlength') && submitAttempt">Minimum 10 numbers required.</span>
                            <span *ngIf="signup.controls['com_phone'].hasError('pattern') && submitAttempt">Company Phone can contain numeric input only</span>
                        </div>

                        <div class="form-group" [ngClass]="{'has-error':!signup.controls['com_email'].valid && submitAttempt || signup.controls['com_email'].hasError('required') && signup.controls['com_email'].touched}">
                            <input type="text" class="form-control" placeholder="Company Email" formControlName="com_email">
                            <span *ngIf="signup.controls['com_email'].hasError('required') && submitAttempt || signup.controls['com_email'].hasError('required') && signup.controls['com_email'].touched">Company Email is required.</span>
                            <span *ngIf=" !signup.controls['com_email'].hasError('required') && signup.controls['com_email'].hasError('email') && submitAttempt">Email is invalid.</span>
                        </div>
                        <div formGroupName="account">
                          <div class="form-group" [ngClass]="{'has-error':!signup.controls['account'].controls['user_password'].valid && submitAttempt || signup.controls['account'].controls['user_password'].hasError('required') && signup.controls['account'].controls['user_password'].touched}">
                              <input type="password" class="form-control" placeholder="Password" formControlName="user_password">
                              <span *ngIf="signup.controls['account'].controls['user_password'].hasError('required') && submitAttempt || signup.controls['account'].controls['user_password'].hasError('required') && signup.controls['account'].controls['user_password'].touched">Password is required.</span>
        											<span *ngIf="signup.controls['account'].controls['user_password'].hasError('minlength') && submitAttempt">Minimum 6 characters required.</span>
                          </div>
                          <div class="form-group" [ngClass]="{'has-error':!signup.controls['account'].controls['user_password_rpt'].valid , 'has-error':!signup.controls['account'].valid   && submitAttempt || signup.controls['account'].controls['user_password_rpt'].hasError('required') && signup.controls['account'].controls['user_password_rpt'].touched}">
                              <input type="password" class="form-control" placeholder="Confirm Password" formControlName="user_password_rpt">
                              <span *ngIf="signup.controls['account'].controls['user_password_rpt'].hasError('required') && submitAttempt || signup.controls['account'].controls['user_password_rpt'].hasError('required') && signup.controls['account'].controls['user_password_rpt'].touched">Confirm Password is required.</span>
        											<span *ngIf="signup.controls['account'].controls['user_password_rpt'].hasError('minlength') && submitAttempt">Confirm Password 6 characters required.</span>
        											<span *ngIf="!signup.controls['account'].controls['user_password'].hasError('required') && !signup.controls['account'].controls['user_password_rpt'].hasError('required') && !signup.controls['account'].controls['user_password'].hasError('minlength') && !signup.controls['account'].controls['user_password_rpt'].hasError('minlength') && !signup.controls['account'].valid && submitAttempt">Password not matched.</span>
                          </div>
                      </div>

                      <div *ngIf="responseStatus.success" class="text-success"> {{responseStatus.success}} </div>
                      <div *ngIf="responseStatus.error" class="text-danger"> {{responseStatus.error}} </div>
                        <button class="btn btn-primary btn-block ">Signup</button>
                        <a href="#"><small></small></a>
                        <p class=" text-center"><small>Already have an account?</small></p>
                        <a class="btn btn-default btn-block" routerLink="/login" routerLinkActive="active">Login To Your Account</a>

					           </form>



                </div>
            </div>
        </div>
