    <div class="account">
      <toaster-container></toaster-container>
        <div class="container">
            <div class="row">
                <div class="account-col text-center">
                    <img src="assets/images/logo_big.png" alt="Dibcase" class="img-responsive logo-default">
                    <form class="m-t" role="form" [formGroup]="login" (ngSubmit)="submitForm(login.value)" >
                        <div class="form-group" [ngClass]="{'has-error':!login.controls['username'].valid   && login.controls['username'].touched}">
                          <input (keyup)="hidemsg($event)" type="text" class="form-control" placeholder="Username"  [formControl]="login.controls['username']" >
                        </div>
                        <div *ngIf="login.controls['username'].hasError('required') && login.controls['username'].touched" class="alr">You must include a Username.</div>
                        <div class="form-group" [ngClass]="{'has-error':!login.controls['password'].valid  && login.controls['password'].touched }">
                          <input (keyup)="hidemsg($event)" type="password" class="form-control" placeholder="Password"  [formControl]="login.controls['password']">
                        </div>
                        <div *ngIf="login.controls['password'].hasError('required') && login.controls['password'].touched" class="alr">You must include a Password.</div>
                        <div *ngIf="responseStatus.error" class="text-danger"> {{responseStatus.error}} </div>
                        <button type="submit" class="btn btn-primary btn-block " [disabled]="!login.valid" >Login</button>
                        <a href="javascript:void(0)"><small>Forgot password?</small></a>
                        <p class=" text-center"><small>Do not have an account?</small></p>
                        <a class="btn btn-default btn-block" routerLink="/register" routerLinkActive="active">Create an account</a>
                    </form>
                </div>
            </div>
        </div>
	</div>
